##################
# test programs
##################
test-*-dynamic
test-*-static

###################
# backup files
###################
*.bak
*.bck
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.elf
*.hex
*.list
*.srec
*.map

################
# autotools junk
################
*.la
*.lo
*.log
*.trs
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
.deps/
.dirstamp
libtool
m4/
stamp-h1
