##################
# test programs
##################
test_fastset_create
test_fastset_add_size_contains
test_fastset_remove
test_fastset_clear
test_fastset_foreach
test_fastset_clone
test_fastset_intersect
test_fastset_union
test_fastset_minus
test_fastset_unique
test_fastset_equal
test_fastset_disjoint
test_fastset_subset_superset
test-*-dynamic
test-*-static
test-fastset

###################
# backup files
###################
*.bak
*.bck
$*
*.swp
*.000
*~

################
# Output files
################
*.tar.*
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.elf
*.hex
*.list
*.srec
*.map
*.la
*.lo
*.log
*.trs

################
# autotools junk
################
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
.deps/
.dirstamp
libtool
m4/
stamp-h1
