##################
# test programs
##################
test-*-dynamic
test-*-static

###################
# backup files
###################
*.bak
*.bck
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.elf
*.hex
*.list
*.srec
*.map

